<html>
    <title>
      This is a quiz.
    </title>
  <body>
      <h1>About the Question</h1>

      <br>
        <form method="POST" action="/addQuestion">
          <h2>Any Question?</h2> <input name="new_question" id="id_new_question" placeholder="Ask here"/>
          <input id="id_submit" type="submit" value="Submit a question">
          {% csrf_token %}
        </form>

      <h2>Answer these Qestion</h2>
      <table id="id_list_table">
          {% for item in items %}
        <tr>
            <td>{{item.question_text}}</td>
      
          <form method="POST" action="/vote">
            {% csrf_token %}  

            <td><button type="submit" name="vote_yes" value={{item.id}} id={{ forloop.counter }}>Yes</button></td>
            <td><button type="submit" name="vote_no" value={{item.id}} id={{ forloop.counter }}>No</button></td>
          
          </form>
          
          <form method="POST" action="/delete_question">
            {% csrf_token %}  
            <td><button type="submit" name="delete_question" value={{item.id}} id={{ forloop.counter }}>Delete</button></td>
          </form>
        </tr>
        {% endfor %}
      </table>
    </body>

</html>
